.add-tile-mc {
}

.mood-images-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 15px 0;
}

.mood-image {
  width: 50px;
  height: 50px;
  margin: 0 10px;
  cursor: pointer;
  transition: all 0.25s ease;
  opacity: 0.6;
}

.mood-image:hover {
  transform: scale(1.1);
  opacity: 1;
}

.mood-image.selected {
  transform: scale(1.2);
  opacity: 1;
}

.nt-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  transition: all 0.5s ease;
}

.nt-content-container-item {
  width: 100%;
  max-height: 1000px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 20px;
  transition: all 0.5s ease;
}

.nt-content-container-title {
  font-size: 18px;
  font-weight: normal;
  margin: 0;
  margin-bottom: 6px;
}

.nt-content-container-item > button {
  padding: 6px 20px;
  border-radius: 8px;
  border: 2px solid transparent;
  color: var(--mainWhite);
  font-size: 18px;
  background-color: var(--primaryBlue);
  transition: all 0.25s ease;
  align-self: center;
  width: 40%;
  margin-top: 8px;
  margin-bottom: -20px;
  cursor: pointer;
}

.nt-content-container-item > button:disabled {
  opacity: 0.5;
}

.reason-options-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 10px 0;
}

.reason-option {
  margin: 5px;
  cursor: pointer;
  transition: all 0.25s ease;
  opacity: 0.6;
  padding: 6px 10px;
  border-radius: 100px;
  color: var(--primaryBlue);
  border: 1px solid var(--primaryBlue);
  background-color: rgba(255, 255, 255, 0);
  font-size: 14px;
}

.reason-option:hover {
  transform: scale(1.05);
}

.reason-option.selected,
.nt-content-notes-option.selected {
  color: var(--mainWhite);
  background-color: var(--primaryBlue);
  opacity: 1;
}

.nt-content-notes-textarea {
  width: calc(100% - 20px);
  height: 150px;
  border-radius: 6px;
  border: 1px solid var(--borderGrey);
  padding: 6px 10px;
  font-size: 16px;
  font-weight: normal;
  color: var(--textMain);
  resize: none;
  margin-top: 4px;
}

.nt-content-notes-textarea:focus {
  outline: none;
}

.nt-content-notes-options-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 10px 0;
  flex-wrap: nowrap;
}

.nt-content-notes-option {
  margin: 0 10px;
  cursor: pointer;
  transition: all 0.25s ease;
  opacity: 0.6;
  padding: 6px 10px;
  border-radius: 6px;
  color: var(--primaryBlue);
  border: 1px solid var(--primaryBlue);
  background-color: rgba(255, 255, 255, 0);
  font-size: 15px;
  width: 100%;
  text-align: center;
}

.nt-content-notes-option:hover {
  transform: scale(1.02);
}

.nt-content-notes-video-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  border: 1px solid var(--borderGrey);
  border-radius: 8px;
  min-height: 210px;
  padding: 20px 0;
}

.nt-content-video {
  margin: 0;
  height: 200px;
  width: 350px;
  resize: none;
  margin-top: 10px;
  display: flex;
  align-self: center;
  justify-self: center;
}

.nt-content-video-options {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 10px;
}

.nt-content-video-option {
  padding: 4px 12px;
  border-radius: 6px;
  border: 2px solid transparent;
  color: var(--mainWhite);
  font-size: 14px;
  background-color: var(--primaryBlue);
  transition: all 0.25s ease;
  align-self: center;
  cursor: pointer;
}
