.App {
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: var(--lightBackground);
}

* {
  font-family: "Poppins", sans-serif;
  color: var(--textMain);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--lightBackground);
}

::-webkit-scrollbar-thumb {
  background: var(--borderGrey);
  border-radius: 100px;
}
